.slides{
    background-image: url(img/portfolio/6.png);
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center; 
}
.slides img{
    margin-top: 50px;
    border-radius: 100%;
    width: 140px;
    height: 160px;
}
.slides img{
    margin-top: 50px;
    border-radius: 100%;
    width: 140px;
    height: 160px;
}
.slides h4{
   color:white;
   text-shadow:2px 2px #ff0000;
}
.slides p{
    color:white;
 }